<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Testing Suite">
	<test name="Verify Login">
		<classes>
			<class name="tests.E2ETest1Login" />
		</classes>
	</test>

	<test name="Verify Adding Animal to the Shelter">
		<classes>
			<class name="tests.E2ETest2AddAnimalToShelter" />
		</classes>
	</test>

	<test name="Api Test Cases">
		<classes>
			<class name="tests.APITests"></class>
		</classes>
	</test>
</suite>